.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background: #f8f8f8;
  color: #201e1e;
  border-radius: 10px;
  margin-top: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #201e1e;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: rgb(247, 245, 245);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
